
.my-img{
  filter: brightness(80%);
}
.social-links a {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 1;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
  text-decoration: none;
}
@media all and (max-width:575px) {
	.my-img{
		height: 300px;
		object-fit: cover;
	}
	.banner-sec p{
		width: 90% !important;
	}
	.common-heading p{
		width: 100% !important;
	}
}